---

---

<dev
class="relative flex flex-col justify-center items-center w-full h-full "
>
  <h3
  class="text-center text-2xl font-bold align-middle mb-4"
  >We made the tools and the tools made us.</h3>
  <img
    src="../../../assets/images/glow01.png"
    class="object-cover  pointer-events-none absolute mt-32 opacity-60"
  />
</dev>
