---
import SkillCards from "./components/SkillCard";
---

<dev class="flex flex-col justify-center items-center w-full h-full">
  <h3 class="text-center text-2xl font-bold align-middle mb-4">
    We made the tools and the tools made us.
  </h3>
  <img
    src="../../../assets/images/glow01.png"
    class="object-cover pointer-events-none absolute z-0"
  />
  <div
    class="flex flex-wrap justify-center items-center w-full h-full relative z-10"
  >
    <SkillCards />
  </div>
</dev>
