---
import Bio from "../../components/home/Bio.astro";
---

<div class="">
  <div class="flex flex-row items-start justify-start space-y-4">
    <img
      src="../../../assets/images/profile 6.png"
      alt="Nimr Sawafta"
      class="w-52 h-52 rounded-full"
    />
    <Bio />
  </div>
</div>
